.buttons-fade-enter {
  opacity: 0;
  transform: translateX(100px);
}

.buttons-fade-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}

.buttons-fade-exit {
  opacity: 1;
  transform: translateX(0);
}

.buttons-fade-exit-active {
  opacity: 0;
  transform: translateX(100px);
  transition: opacity 300ms, transform 300ms;
} 